#subscribe{
    padding: 80px 0px;
    /* background-color: rgba(179, 219, 97, 0.3); */
    background-color: rgba(245, 157, 73,0.5) ;
}

#subscribe button{
    /* background-color:#b3db61;
    border:#b3db61; */
    background-color:#fa8f2a;
    border:#f59d49;
    transition: all 1.2s;
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
    margin-left: -93px;
  z-index: 10;
}
#subscribe input{
    /* background-color:#b3db61;
    border:#b3db61; */
     background-color:#ffffff;
    border:#f59d49;
    transition: all 1.2s;
    position: relative;
    width: 310px;
     border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
}

#subscribe input:focus + button{
    background-color: #f59d49 ;
}
#subscribe input:focus + button:hover{
    background-color: #fd8312 ;
    color:#fff;
}
#subscribe button:hover{
  background-color: #f59d49 ;
}