
.recipes-carousel-list{
  overflow-x: hidden;
    white-space: nowrap;
}

.recipes-carousel-list .carousel{
    padding-bottom: 20px;
}
.recipes-carousel-list .card-title{
  justify-content: center !important;
}
.btn-mygreen{
  background-color: #b3db61;
  border: #b3db61;
  transition: all 1.2s;
}
.btn-mygreen:hover{
  background-color: #f59d49;
  border:#f59d49
}
.btn-back, 
.btn-front{
  z-index: 100;
  color: white;
  border: 1px solif #b3db61;
  top: calc( 436px / 2);
  transform: translateY(0px);
  font-size: 45px;
  opacity: 0.8;
  transition: all .3s;
 text-shadow: 0px 0px 11px 5px rgb(103, 103, 103);
}
.btn-back{
  left: 50px;
}
.btn-front{
  right: 50px;
}
.btn-back:hover{
  opacity: 1;
  left: 45px;
  color: #b3db61;
} 
.btn-front:hover{
  opacity: 1;
  right: 45px;
  color: #b3db61;
}
.btn-back:active,
.btn-front:active {
    color: #e0824c; 
}
.btn-back:disabled, 
.btn-front:disabled{
  opacity: 0.3;
}

.btn-back:disabled:hover{
   left: 50px;
   color:white;
} 
.btn-front:disabled:hover{
  right: 50px;
  color:white;
}

.carousel-item .card:hover{
 box-shadow: inset 0px 0px 18px 2px rgb(179, 219, 97,0.7);
}
.carousel-item .card:hover img{
  opacity:0.7
}

.carousel-item h2{
  word-wrap: break-word;
  white-space: normal;
}