.recipes-carousel-list .carousel{
    padding-bottom: 20px;
}

.recipes-carousel-list .card-title{
  justify-content: center !important;
}
.btn-mygreen{
  background-color: #b3db61;
  border: #b3db61;
  transition: all 1.2s;
}
.btn-mygreen:hover{
  background-color: #f59d49;
  border:#f59d49
}

