#parallax {
    /* background-image: url('../src/assets/parallax_img.jpg'); */
    background-image: url('../src/assets/parallax_img2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* height: 300px; */
    margin-top: 60px;
    margin-bottom: 60px;
    position: relative;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parallax-text {
    text-shadow:
        1px 1px 2px black,
        0 0 0.2em #a49500, 
        0 0 0.2em #cbbc12;
    opacity: 0;
    color:#d4eca3;
    transform: translateX(-50px);
    transition: all 1s ease-in-out;
    text-align: center;
}
.delayed {
    transition-delay: 0.5s;
}
#parallax.show #parallax-text1,
#parallax.show #parallax-text2 {
    opacity: 1;
    transform: translateX(0);

}

#parallax #parallax-text1 {
    /* position: absolute; */
    /* top: 84px; */
    /* left: 160px; */
    /* margin-top: -30px; */
    /* transform: translateX(-50%)!important; */
}

#parallax #parallax-text2 {
    /* position: absolute; */
    /* top: 130px; */
    /* left: 189px; */
    /* margin-top: 20px; */
    /* transform: translateX(-50%)!important; */
}