#logo {
    margin-top: 40px;
}

.active {
    font-weight: 600;
    position: relative;
    transition: all 0.7s;
    color: #f59d49;
}

.header-nav-link {
    position: relative;
    transition: all 0.7s;
    border-top: 1px solid transparent; 
    border: none;
}

.active:before,
.header-nav-link:hover:before {
    content: ' ';
    display: block;
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 8px);
    border-bottom: 4px solid #a9df3c; /* Borde inferior verde */
    transition: all 0.7s;
    z-index: 10;
}

.header-nav-link:hover {
    color: #f59d49;
}

.header-nav-link:hover:before {
    bottom: -2px;
    transform: translateX(-50%);
    width: calc(100% + 8px);
    border-bottom: 4px solid #a9df3c; /* Borde inferior verde */
}

@media (max-width: 768px) {
    .header-nav-link {
        border-bottom: 1px solid rgb(156, 156, 156);
    }
    .header-nav-link:last-child {
        border-bottom: none;
    }
    .header-nav-link.active {
        border-bottom: none;
    }

    .menu-open .header-nav-link {
        transform: translateY(0);
        opacity: 1;
        max-height: 1000px; /* Ajusta este valor según sea necesario */
        transition: transform 0.5s ease, opacity 0.5s ease, max-height 0.7s ease; /* Añade la transición a max-height */
    }

    .menu-closed .header-nav-link {
        transform: translateY(-100%);
        opacity: 0;
        max-height: 0;
        transition: transform 0.5s ease, opacity 0.5s ease, max-height 0.7s ease; /* Añade la transición a max-height */
    }

    .menu-closed {
        height: 0;
    }
}
